In [14]:
from sklearn.model_selection import KFold
kf=KFold(n_splits=5,shuffle=True)
kf

KFold(n_splits=5, random_state=None, shuffle=True)

In [15]:
for i,j in kf.split([1,2,3,4,5,6,7,8,9]):
    print(i,j)

[2 3 4 5 6 7 8] [0 1]
[0 1 3 4 6 7 8] [2 5]
[0 1 2 3 5 7 8] [4 6]
[0 1 2 4 5 6 8] [3 7]
[0 1 2 3 4 5 6 7] [8]

In [16]:
import pandas as pd
df=pd.read_csv('./data/homeprices.csv')
x=df.drop('price',axis=1)
y=df.price

In [17]:
df.head()
md=df.bedrooms.median()
df.bedrooms=df.bedrooms.fillna(md)

In [25]:
df

   area  bedrooms  age   price
0  2600         3   20  550000
1  3000         4   15  565000
2  3200         5   18  610000
3  3600         3   30  595000
4  4000         5    8  760000
5  4100         6    8  810000

In [26]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)
model.score(x_test,y_test)

from sklearn.model_selection import StratifiedKFold
folds=StratifiedKFold(n_splits=3)
folds

StratifiedKFold(n_splits=3, random_state=None, shuffle=False)

In [27]:
for i,j in kf.split(df):
    x_train,x_test,y_train,y_test=x.iloc[i],x.iloc[j],y.iloc[i],y.iloc[j]
    #print( x_train,x_test,y_train,y_test)
    model.fit(x_train,y_train)
    print( model.score(x_test,y_test))

-33.051880420365364
nan
nan
nan
nan

/home/mahima/.local/lib/python3.10/site-packages/sklearn/metrics/_regression.py:1187: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/home/mahima/.local/lib/python3.10/site-packages/sklearn/metrics/_regression.py:1187: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/home/mahima/.local/lib/python3.10/site-packages/sklearn/metrics/_regression.py:1187: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/home/mahima/.local/lib/python3.10/site-packages/sklearn/metrics/_regression.py:1187: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)