In [2]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity([[3,1]], [[6,2]])

array([[1.]])

In [18]:
doc1='''My Name is Mahima Dhakal. I use Samsung Galaxy A52s. 
Galaxy Phones are portable and easy to use .Galaxy phones have a good market in Nepal than iphone.'''
doc2='''My mom use iphone 14 pro max. Iphone is a very expensive phone.Iphones ahve a limited and narrow market in nepal than samsung galaxy'''
doc3='''My roommate use Samsung Galaxy A52s. I like the features of Samsung Galaxy A52s.'''

In [19]:
import pandas as pd
data = {'Document': [doc1, doc2,doc3]}
df = pd.DataFrame(data)

# Count occurrences of 'iPhone' and 'Galaxy'
df['iPhone Count'] = df['Document'].str.count('iphone|Iphone|IPhone|iPhones')
df['Galaxy Count'] = df['Document'].str.count('Galaxy|galaxy')

# Display the DataFrame
print(df)

                                            Document  iPhone Count  \
0  My Name is Mahima Dhakal. I use Samsung Galaxy...             1
1  My mom use iphone 14 pro max. Iphone is a very...             3
2  My roommate use Samsung Galaxy A52s. I like th...             0

   Galaxy Count
0             3
1             1
2             2

In [24]:
doc1_iphone_count = df.loc[0, 'iPhone Count'] #row 0, column 'iPhone Count'
doc1_galaxy_count = df.loc[0, 'Galaxy Count']

doc2_iphone_count = df.loc[1, 'iPhone Count']
doc2_galaxy_count = df.loc[1, 'Galaxy Count']

doc3_iphone_count = df.loc[2, 'iPhone Count']
doc3_galaxy_count = df.loc[2, 'Galaxy Count']

# Print cosine similarity
cosine_similarity([[doc1_iphone_count, doc1_galaxy_count]], [[doc2_iphone_count, doc2_galaxy_count]])
cosine_similarity([[doc1_iphone_count, doc1_galaxy_count]], [[doc3_iphone_count, doc3_galaxy_count]])

array([[0.9486833]])

In [25]:
df=pd.DataFrame([
    {
        'iphone':doc1_iphone_count,
        'galaxy':doc1_galaxy_count
    },
    {
        'iphone':doc2_iphone_count,
        'galaxy':doc2_galaxy_count
    },
    {
        'iphone':doc3_iphone_count,
        'galaxy':doc3_galaxy_count
        }
],
                index=['doc1','doc2','doc3']
)
df

      iphone  galaxy
doc1       1       3
doc2       3       1
doc3       0       2

In [26]:
df.loc['doc3':'doc3']

      iphone  galaxy
doc3       0       2

In [27]:
cosine_similarity(df.loc['doc1':'doc1'], df.loc['doc2':'doc2'])

array([[0.6]])

In [28]:
cosine_similarity(df.loc['doc1':'doc1'], df.loc['doc3':'doc3'])

array([[0.9486833]])